---
layout: default
title: Albums
css:
  - '/assets/css/blog.css'
---

{% for page in site.albums %}
	<div id="album_{{ page.name | replace: '.md', '' }}" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
		<div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
			<div class="col-lg-6 px-0">
				<h1 class="display-4 fst-italic"><a href="{{ post.url | prepend: site.baseurl }}">{{ page.title }}</a></h1>
				<p class="lead my-3">{{ page.excerpt }}</p>
				<p class="lead mb-0"><a href="{{ page.url | prepend: site.baseurl }}" class="text-body-emphasis fw-bold">View Album</a></p>
			</div>
{% if page.thumbnail %}
			<div class="col-lg-4 d-none d-lg-block">
				<img src="{{ page.thumbnail | prepend: site.baseurl }}" alt="Thumbnail" class="bd-placeholder-img" width="450" height="250">
			</div>
{% endif %}
		</div>
	</div><!-- / #album -->
{% endfor %}
