---
layout: default
title: Blog
css:
  - '/assets/css/blog.css'
sidebar:
  - posts
  - categories
  - tags
---

<!-- Start Main -->
{% for post in site.posts %}
{% if post.categories contains 'main' %}
{% include posts_main.html post=post %}
{% endif %}
{% endfor %}
<!-- End Main -->

<!-- Start Featured -->
<div class="row mb-2">
{% for post in site.posts %}
{% if post.categories contains 'featured' %}
{% include posts_featured.html post=post %}
{% endif %}
{% endfor %}
</div>
<!-- End Featured -->

<div id="blog" class="row g-5">

	<div id="blog-posts" class="col-md-8">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h3>

<!-- Start Posts -->
{% for post in site.posts %}
{% unless post.categories contains 'featured' or post.categories contains 'main' %}
{% include posts.html post=post %}
{% endunless %}
{% endfor %}
<!-- End Posts -->


<!-- Start Pagination -->
		<nav class="blog-pagination" aria-label="Pagination">
			<a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
			<a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
		</nav>
<!-- End Pagination -->

	</div><!-- /#blog-posts -->

<!-- Start Sidebar -->
{% include sidebar.html %}
<!-- End Sidebar -->

</div><!-- /#blog -->
