---
layout: default
title: Blog
css:
  - '/assets/css/blog.css'
sidebar:
  - posts
  - categories
  - tags
---

<!-- Start Main -->
{% include posts_main.html posts=site.posts %}
<!-- End Main -->

<!-- Start Featured -->
{% include posts_featured.html posts=site.posts %}
<!-- End Featured -->

	<div id="blog" class="row g-5">
		<div id="blog-posts" class="col-md-8">
			<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h3>

<!-- Start Posts -->
{% assign posts_main = site.categories['main'] %}
{% assign posts_featured = site.categories['featured'] %}
{% assign posts_skip=posts_featured | concat: posts_main %}

{% include posts.html posts=site.posts skip=posts_skip %}
<!-- End Posts -->

			<nav class="blog-pagination" aria-label="Pagination">
				<a class="btn btn-outline-primary rounded-pill" href="#">Older</a>
				<a class="btn btn-outline-secondary rounded-pill disabled" aria-disabled="true">Newer</a>
			</nav>

		</div><!-- /#blog-posts -->

{% include sidebar.html %}

	</div><!-- /#blog -->
 
