---
layout: default
css:
  - /assets/css/blog.css
title: Home
description: Recent Posts
posts:
  blog:
    limit: 10
    skip:
      - main
      - featured
  main:
    category: main
    template: post_main
    limit: 2
  featured:
    category: featured
    template: post_featured
    limit: 4
---

<div id="main">
{% include posts.html id='main' posts=paginator.posts %}
</div><!-- /#main -->

<div id="featured" class="row mb-2">
{% include posts.html id='featured' posts=paginator.posts %}
</div><!-- /#featured -->

<div id="content" class="row g-5">
	<div id="posts" class="col-md-8">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">Posts</h3>
{% include posts.html id='blog' posts=paginator.posts %}
{% include pagination.html %}
	</div><!-- /#posts -->

	<div id="sidebar" class="col-md-3">
		<div class="position-sticky" style="top: 2rem;">
{% include sidebar_categories.html %}
{% include sidebar_tags.html %}
{% include sidebar_authors.html %}
		</div>
	</div><!-- /#sidebar -->
</div><!-- /#content -->

<div id="meta" class="col-md-8">
	<p><a href="{{ 'feed.xml' | relative_url }}">RSS Feed</a></p>
</div><!-- /#meta -->
