---
layout: blog
title: Home
description: Recent Posts
sidebar:
  right:
    - categories
    - tags
    - authors
posts:
  blog:
    limit: 10
    skip:
      - main
      - featured
  main:
    category: main
    template: post_main
    limit: 2
  featured:
    category: featured
    template: post_featured
    limit: 4
---

{%- assign posts = paginator.posts -%}

{%- capture content_head -%}
	{% if paginator.page == 1 %}
<div id="blog-main">
{% include posts.html id='main' posts=posts %}
</div><!-- /#blog-main -->

<div id="blog-featured" class="row mb-2">
{% include posts.html id='featured' posts=posts %}
</div><!-- /#blog-featured -->
	{% endif %}
{%- endcapture -%}


<div id="blog-posts" class="col-md-8">
	<h3 class="pb-4 mb-4 fst-italic border-bottom">Recent Posts</h3>
	<p class="fs-5 col-md-8">Latest Posts in Blog Section</p>

{% include posts.html id='blog' posts=posts %}

{% include pagination.html %}
</div><!-- /#blog-posts -->


{%- capture content_foot -%}
<div id="blog-meta" class="col-md-8">
	<p><a href="{{ 'feed.xml' | relative_url }}">RSS Feed</a></p>
</div><!-- /#blog-meta -->
{%- endcapture -%}
