---
layout: default
title: News
description: News Posts
permalink: /news/index.html
css:
  - '/assets/css/blog.css'
sidebar:
  - posts
  - categories
  - tags
---

{% comment %}Array of Post IDs in Main & Featured section{% endcomment %}
{% assign posts_skip = '' %}

<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h3>

<!-- Start Main -->
{% assign posts_main = site.categories['news'] | where_exp: "post", "post.categories contains 'main'" %}
{% for post in posts_main %}
{% assign posts_skip = posts_skip | push: post.id %}
{% include posts_main.html post=post %}
{% endfor %}
<!-- End Main -->

<!-- Start Featured -->
<div class="row mb-2">
{% assign posts_featured = site.categories['news'] | where_exp: "post", "post.categories contains 'featured'" %}
{% for post in posts_featured %}
{% assign posts_skip = posts_skip | push: post.id %}
{% include posts_featured.html post=post %}
{% endfor %}
</div>
<!-- End Featured -->

<div id="blog" class="row g-5">
	<div id="blog-posts" class="col-md-8">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h3>

<!-- Start Posts -->
{% for post in site.categories['news'] %}
{% unless posts_skip contains post.id %}
{% include posts.html post=post %}
{% endunless %}
{% endfor %}
<!-- End Posts -->

	</div><!-- /#blog-posts -->

<!-- Start Sidebar -->
{% include sidebar.html %}
<!-- End Sidebar -->

</div><!-- /#blog -->
