---
layout: null
table:
  id: table
  thead:
    id: table_head
    tr:
    - - th: "#"
      - th: A
      - th: B
      - th: C
  tbody:
    id: table_body
    tr:
    - - th: 1
      - td: A1
      - td: B1
      - td: C1
    - - th: 2
      - td: A2
      - td: B2
      - td: C2
    - - th: 3
      - A3
      - B3
      - C3
  tfoot:
    id: table_foot
    tr:
    - - th: Total
      - td: ABC
        colspan: 3
        align: center
---
{% assign table = page.table %}

{% assign table_tag = "table" %}
{% assign table_sections = "" | split: "," %}
{% assign table_attributes = "" %}
{% assign table_content = "" %}
{% if table.tbody or table.thead or table.tfoot %}
  <!-- Table | Attributes -->
  {% for table_attribute in table %}
    {% if table_attribute[0] == "tbody" or table_attribute[0] == "thead" or table_attribute[0] == "tfoot"
          or table_attribute[0] == "tr" or table_attribute[0] == "th" %}
      {% assign table_sections = table_sections | push: table_attribute %}
      {% continue %}
    {% endif %}
    {% assign old_table_attributes = table_attributes | append: ' ' | append: table_attribute[0] | append: '="' | append: table_attribute[1] | append: '"' %}
    {% assign table_attributes = table_attributes | append: " {{ table_attribute[0] }}=\"{{ table_attribute[1] }}"\" %}
  {% endfor %}
{% else %}
  <!-- Table | Default -->
  {% assign table_sections = table %}
{% endif %}
<!-- [Sections] {{ table_sections }} -->
<{{ table_tag }}{{ table_attributes }}>

{% for section in table_sections %}
  {% assign section_tag = section[0] %}
  {% assign section_rows = "" | split: "," %}
  {% assign section_attributes = "" %}
  {% assign section_content = "" %}
  {% if section[1].tr %}
  <!-- Table | Attributes -->
  {% for section_attribute in section[1] %}
    {% if section_attribute[0] == "tr" %}
      {% assign section_rows = section_attribute[1] %}
      {% continue %}
    {% endif %}
    {% assign old_section_attributes = section_attributes | append: ' ' | append: section_attribute[0] | append: '="' | append: section_attribute[1] | append: '"' %}
    {% assign section_attributes = section_attributes | append: " {{ section_attribute[0] }}=\"{{ section_attribute[1] }}\"" %}
  {% endfor %}
{% else %}
  <!-- Table | Default -->
  {% assign section_rows = section %}
{% endif %}

<!-- [Rows] [{{ section_tag }}] {{ section_rows }} -->

{% if section_tag %}
<{{ section_tag }}{{ section_attributes }}>
{% endif %}

{% for row in section_rows %}
  <!-- Row [{{ forloop.index }}] -->
  {% assign row_tag = "tr" %}
  {% assign row_attributes = "" %}
  {% assign row_content = "" %}
  <tr>
  {% for column in row %}
    <!-- Row [{{ forloop.parentloop.index }} | Column [{{ forloop.index }}] -->
    {% assign cell_tag = "td" %}
    {% assign cell_content = "" %}
    {% assign cell_attributes = "" %}
    {% if column.td or column.th %}
      <!-- Row [{{ forloop.parentloop.index }} | Column [{{ forloop.index }}] | Attributes -->
      {% for cell_attribute in column %}
        {% if attribute[0] == "td" or attribute[0] == "th" %}
          {% assign cell_tag = cell_attribute[0] %}
          {% assign cell_content = cell_attribute[1] %}
          {% continue %}
        {% endif %}
        {% assign old_cell_attributes = cell_attributes | append: ' ' | append: cell_attribute[0] | append: '="' | append: cell_attribute[1] | append: '"' %}
        {% assign cell_attributes = cell_attributes | append: " {{ cell_attribute[0] }}=\"{{ cell_attribute[1] }}\"" %}
      {% endfor %}
    {% else %}
      <!-- Row [{{ forloop.parentloop.index }} | Column [{{ forloop.index }}] | Default -->
      {% assign cell_content = column %}
    {% endif %}
<{{ cell_tag }}{{ cell_attributes }}>
{{ cell_content }}
</{{ cell_tag }}>

    {% capture cell_html %}
      <{{ cell_tag }}{{ cell_attributes }}>
{{ cell_content }}
      </{{ cell_tag }}>
    {% endcapture %}
    {% assign row_content = row_content | append: cell_html %}

  {% endfor %}

  {% capture row_html %}
    <{{ row_tag }}{{ row_attributes }}>
{{ row_content }}
    </{{ row_tag }}>
  {% endcapture %}
  {% assign section_content = section_content | append: row_html %}

  </tr>
{% endfor %}

{% if section_tag %}
</{{ section_tag }}>
{% endif %}

{% if section_tag %}
  {% capture section_html %}
  <{{ section_tag }}{{ section_attributes }}>
{{ section_content }}
  </{{ section_tag }}>
  {% endcapture %}
{% else %}
  {% capture section_html %}
{{ section_content }}
  {% endcapture %}
{% endif %}
{% assign table_content = table_content | append: section_html %}

{% endfor %}

</{{ table_tag }}>

{% capture table_html %}
<{{ table_tag }}{{ table_attributes }}>
{{ table_content }}
</{{ table_tag }}>
{% endcapture %}

{{ table_html }}
