---
layout: page_sidebar
title: Tags
excerpt: Index of Tags
sidebar_pos: left
sidebar:
  - index_tags
---

{% for tag in site.tags %}

	<article id="{{ tag[0] }}" class="p-4 mb-3 rounded">
		<h2 class="display-5 link-body-emphasis mb-1">
			<span class="text-primary">{{ tag[0] | capitalize }}</span>
		</h2>
		<ul class="list-unstyled bg-body-tertiary">
{% for post in tag[1] %}
{% if post.url %}
			<li><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></li>
{% endif %}
{% endfor %}
		</ul>
	</article>

{% endfor %}
