---
layout: default
title: Test
description: Test Page
sidebar:
  left: []
  right:
    - custom:
      - data: site.data.sidebar_custom.text
    - custom:
      - data: site.data.sidebar_custom.html
    - custom:
      - data: site.data.sidebar_custom.markdown
---

{% assign sidebar_left = page.sidebar.left %}
{% assign sidebar_right = page.sidebar.right %}

<div id="page" class="row g-5">

{% if sidebar_left %}
{% include sidebar2.html modules=sidebar_left %}
{% endif %}

<div id="content" class="col-md">
  <h1 class="mb-1 pb-4 border-bottom">{{ page.title }}</h1>
{% if page.description %}
  <p class="fs-5 col-md-8">{{ page.description }}</p>
{% endif %}

<p>
This is a demo page for testing changes.
</p>

</div>

{% if sidebar_right %}
{% include sidebar2.html modules=sidebar_right %}
{% endif %}

</div>
