---
layout: default
title: Test Page
description: Test Page for Templates

table:
  0:
    0: ''
    1: A
    2: B
    3: C
  1:
    0: 1
    1: A1
    2: B1
    3: C1
  2:
    0: 2
    1: A2
    2: B2
    3: C2
  3:
    0: 3
    3: C3
  4:
    0: 4
  5:
    0: 5
    2: B5
    3: C5
  6:
    0: 6
    1: A6


test:
#
# # Row (Head)
# - Row:
#   - Cell 1
#   - Cell 2
#
# # Row (No Head)
# - - Cell 1
#   - Cell 2
#
  head:
  - - _A_
    - _B_
    - _C_
  - '':
    - A
    - B
    - C
  body:
  - - _A1_
    - _B1_
    - _C1_
  - - _A2_
    - _B2_
    - _C2_
  - - _A3_
    - _B3_
    - _C3_
  - 1:
    - A1
    - B1
    - C1
  - 2:
    - A2
    - B2
    - C2
  - 3:
    - A3
    - B3
    - C3
  foot:
  - - _
    - _
    - _
  - '':
    - '-'
    - '-'
    - '-'

---

{% assign table = page.table %}

{% assign keys_rows = table | keys %}

{% assign first_row = keys_rows | first | first %}
{% assign last_row = keys_rows | first %}

{% assign keys_columns = table[first_row] | keys %}

{% assign first_column = keys_columns | first %}
{% assign last_column = keys_columns | last %}


{% assign row_head = false %}
{% if table[first_row][0] %}
  {% assign row_head = true %}
{% endif %}


<pre>
First Row: {{ first_row }}
First Column: {{ first_column }}
Last Row: {{ last_row }}
Last Column: {{ last_column }}
Row Head: {{ row_head }}
</pre>
<br><br><br>


{% assign last_row = 6 %}
{% assign last_column = 3 %}


<div class="table-responsive">
  <table class="table text-center">
  {% if table[0] %}
    <thead>
      <tr>
      {% if row_head %}
        <th>{{ table[0][0] }}</th>
      {% endif %}
      {% for h in (1..last_column) %}
        <th>{{ table[0][h] }}</th>
      {% endfor %}
      </tr>
    </thead>
  {% endif %}
    <tbody>
    {% for r in (1..last_row) %}
      <tr>
      {% if row_head %}
        <th scope="row" class="text-start">{{ table[r][0] }}</th>
      {% endif %}
      {% for c in (1..last_column) %}
        <td>{{ table[r][c] }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
  </table>
</div>


{% assign table = page.test %}

<div class="table-responsive">
  <table class="table text-center">
    <thead>
    {% for row in table.head %}
      <tr>
      {% if row[0] %}
        <th>{{ row[0] == blank }}</th>
      {% endif %}
      {% for column in row[1] %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    {% endfor %}
    </thead>
    <tbody>
    {% for row in table.body %}
      <tr>
      {% if row[0] == blank %}
        <th scope="row" class="text-start">{{ row[0] }}</th>
      {% endif %}
      {% for column in row[1] %}
        <td>{{ column }}</td>
      {% endfor %}
      </tr>
    {% endfor %}
    </tbody>
    <tfoot>
    {% for row in table.foot %}
      <tr>
      {% if row[0] == blank %}
        <th>{{ row[0] }}</th>
      {% endif %}
      {% for column in row[1] %}
        <th>{{ column }}</th>
      {% endfor %}
      </tr>
    {% endfor %}
    </tfoot>
  </table>
</div>
