<div id="{{ include.id | default: 'modalList' }}" class="modal modal-sheet position-static d-block bg-body-secondary p-4 py-md-5" tabindex="-1" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content rounded-4 shadow">
      <div class="modal-body p-5">
        <h2 class="fw-bold mb-0">{{ include.title }}</h2>
        <ul class="d-grid gap-4 my-5 list-unstyled small">
        {% for item in include.list %}
          <li class="d-flex gap-4">
            {% if item.icon %}<svg class="bi text-primary flex-shrink-0" width="48" height="48" aria-hidden="true"><use xlink:href="#{{ item.icon }}"></use></svg>{% endif %}
            <div>
              <h5 class="mb-0">{{ item.title }}</h5>
              {{ item.text }}
            </div>
          </li>
        {% endfor %}
        </ul>
        {% for button in include.buttons %}
          {%- assign class = 'btn' -%}
            {% if button.class includes 'outline' %}{%- assign class = class | append: '-outline' -%}{% endif %}
            {% if button.class includes 'primary' %}{%- assign class = class | append: '-primary' -%}
              {% elsif button.class includes 'secondary' %}{%- assign class = class | append: '-secondary' -%}{% endif %}
            {% if forloop.index < include.buttons.size %}{%- assign class = class | append: 'border-end' -%}{% endif %}
          {%- assign data = '' -%}
            {% if button.action == 'dismiss' %}{%- assign data = 'data-bs-dismiss="modal"' -%}{% endif %}
          <a href="{{ button.link | default: '#' }}">
            <button type="button" class="btn btn-lg mt-5 w-100 {{ class }}" {{ data }}>{{ button.text }}</button>
          </a>
        {% endfor %}
      </div>
    </div>
  </div>
</div><!-- /#modalList -->
