{% for link in include.links %}
  {% if link[1].first %}
    {% assign menuActive = link[1] | where_exp: "sublink", "sublink == page.url" %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle {% if menuActive.size > 0 %}active{% endif %}" href="#{{ include.level }}-{{ forloop.index }}" id="dropdown_{{ include.level }}-{{ forloop.index }}" data-bs-toggle="dropdown" aria-expanded="false">{{ link[0] }}</a>
          <ul class="dropdown-menu" aria-labelledby="dropdown_{{ include.level }}-{{ forloop.index }}">
            {% assign sublinks = link[1] | split: ',' %}
<!--
{{ sublinks }}
-->
            {% include navbar_link.html level='{{ include.level }}.{{ forloop.index }}' links=sublinks %}
          </ul>
        </li>
  {% else %}
    {% if include.level == '0' %}
        <li class="nav-item">
          <a class="nav-link {% if page.url == link[1] %}active{% endif %}" aria-current="page" href="{% unless link[1] contains 'http' %}{{ site.baseurl }}{% endunless %}{{ link[1] }}">{{ link[0] }}</a>
        </li>
    {% else %}
            <li>
              <a class="dropdown-item {% if page.url == link[1] %}active{% endif %}" href="{% unless link[1] contains 'http' %}{{ site.baseurl }}{% endunless %}{{ link[1] }}">{{ link[0] }}</a>
            </li>
    {% endif %}
  {% endif %}
{% endfor %}
