{% if site.data.{{ page.cfg }}.main %}
{% assign source = page.collection ? {{ page.collection }} : posts %}
{% for post in site.{{ source }} %}
{% if site.data.{{ cfg }}.main contains post.path %}
	<div id="post-main" class="p-4 p-md-5 mb-4 rounded text-body-emphasis bg-body-secondary">
		<div id="{{ post.id | replace: '/', '-' }}" class="col-lg-6 px-0">
			<h1 class="display-4 fst-italic"><a href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h1>
			<p class="lead my-3">{{ post.excerpt }}</p>
			<p class="lead mb-0"><a href="{{ post.url | prepend: site.baseurl }}" class="text-body-emphasis fw-bold">Continue reading...</a></p>
		</div>
	</div><!-- / #post-main -->
{% endif %}
{% endfor %}
{% endif %}
