{% assign collection = include.collection | default: 'posts' %}
<!-- Collection: {{ collection }} -->
{% assign posts = site[collection] %}
<!-- Posts: {{ posts }} -->
{% if include.posts %}
	{% assign posts = include.posts %}
	<!-- [2] Posts: {{ posts }} -->
{% endif %}
{% assign category = include.category | default: '' %}
<!-- Category: {{ category }} -->
{% if category %}
	{% assign posts = posts | where_exp: "post", "post.categories contains category" %}
	<!-- [2] Category: {{ category }} -->
	<!-- [3] Posts: {{ posts }} -->
{% endif %}
{% assign skip_categories = '' | split: ',' %}

<!-- [0] Skip: {{ posts_skip }} -->
<div id="blog-main">	
{% assign category_main = include.main_category | default: 'main' %}
{% assign posts_main = posts | where_exp: "post", "post.categories contains category_main" %}
{% assign skip_categories = skip_categories | push: category_main %}
<!-- [Main] Category: {{ category }} -->
<!-- [Main] Posts: {{ posts_category }} -->
{% include posts_loop.html template='post_main' posts=posts_main start=include.main_start limit=include.main_limit %}
</div><!-- /#blog-main -->

<!-- [1] Skip: {{ posts_skip }} -->
<div id="blog-featured" class="row mb-2">	
{% assign category_featured = include.featured_category | default: 'featured' %}
{% assign posts_featured = posts | where_exp: "post", "post.categories contains category_featured" %}
{% assign skip_categories = skip_categories | push: category_featured %}
<!-- [Featured] Category: {{ category }} -->
<!-- [Featured] Posts: {{ posts_category }} -->
{% include posts_loop.html template='post_featured' posts=posts_featured start=include.featured_start limit=include.featured_limit %}
</div><!-- /#blog-featured -->

<!-- [2] Skip: {{ posts_skip }} -->
<div id="blog-posts" class="col-md-8">
	<h3 class="pb-4 mb-4 fst-italic border-bottom">{{ page.title }}</h3>
	{% if page.description %}<p class="fs-5 col-md-8">{{ page.description }}</p>{% endif %}

	{% include posts_loop.html template='post' posts=posts start=include.start limit=include.limit skip=skip_categories %}

	{% if include.pagination %}
		{% include pagination.html %}
	{% endif %}

</div><!-- /#blog-posts -->
