{%- assign template = include.template | default: 'post' -%}
{%- assign start = include.start | default: 0 -%}
{%- assign limit = include.limit | default: 0 | plus: start -%}

<!-- Template: {{ template }} -->
<!-- Start: {{ start }} | Limit: {{ limit }} -->
<!-- Skip: {{ skip }} -->
{% for post in include.posts %}
	{% if limit > 0 %}
		{% if forloop.index > limit %}
<!-- [{{ forloop.index }} / {{ limit }}] End -->
			{% break %}
		{% endif %}
	{% endif %}
	{% if start > 0 %}
		{% if forloop.index < start %}
			<!-- [{{ forloop.index }} / {{ limit }}] Pre -->
			{% continue %}
		{% endif %}
	{% endif %}
	{%- assign matches = include.skip | where_exp: "category", "post.categories contains category" -%}
<!-- [{{ forloop.index }} / {{ limit }}] Matches: [{{ matches.size }}] {{ matches }} -->
	{% if matches.size > 0 %}
		{%- assign limit = limit | plus: 1 -%}
<!-- [{{ forloop.index }} / {{ limit }}] Skipped -->
		{% continue %}
	{% endif %}
<!-- [{{ forloop.index }} / {{ limit }}] Post -->
	{% include {{ template }}.html post=post %}
{% endfor %}
