<div id="sidebar" class="col-md-4">
	<div class="position-sticky" style="top: 2rem;">
{% for module_hash in include.modules %}
{% for module in module_hash %}

{% assign moduleArgs = '' | split: ',' %}
{% for module_args in module.args %}
	{% assign key = module_args[0] %}
	{% assign value = module_args[1] %}
	{% assign arg = key | append: ': ' | append: value %}
	{% assign moduleArgs = moduleArgs | push: arg %}
{% endfor %}

{% include sidebar_{{ module.module }}.html args=moduleArgs %}

{% endfor %}
{% endfor %}
	</div>
</div>
