{%- assign id = include.id | default: page.sidebar.id | default: layout.sidebar.id | default: 'sidebar' -%}
{%- assign class = include.class | default: page.sidebar.class | default: layout.sidebar.class | default: 'col-md-3' -%}
{%- assign modules  = include.modules | default: page.sidebar.modules | default: layout.sidebar.modules -%}
{%- assign data  = include.data | default: page.sidebar.data | default: layout.sidebar.data | default: '' -%}

<div id="{{ id }}" class="{{ class }}">
	<div class="position-sticky" style="top: 2rem;">
{% for module in modules %}
{%- assign mod_id = module[0] -%}
{%- assign mod_template = module[1] -%}
{%- assign mod_data = data[mod_id] -%}
{% include sidebar_{{ mod_template }}.html id=mod_id data=mod_data %}
{% endfor %}
	</div>
</div>
