{%- assign id = include.id | default: page.sidebar_id | default: layout.sidebar_id -%}
{%- assign config = include.config | default: site.data[page.sidebar_cfg] | default: site.data[layout.sidebar_cfg] | default: site.data.sidebar -%}
{%- assign modules = include.modules | default: config[id] | default: page.sidebar | default: layout.sidebar -%}
{%- assign class = include.class | default: page.sidebar_class | default: layout.sidebar_class | default: 'col-md-3' -%}

<div id="sidebar_{{ id }}" class="{{ class }}">
	<div class="position-sticky" style="top: 2rem;">
    {% for module in modules %}
		{%- assign mod_template = module[0] -%}
		{%- assign mod_data = module[1] -%}
		{%- assign mod_title = mod_data[0] -%}
		{%- assign mod_content = mod_data[1] -%}
<pre>
Module: {{ module }}
Template: {{ module[0] }}
Data: {{ module[1] }}
Title: {{ module[1][0] }}
Content: {{ module[1][1] }}
</pre>

    {% endfor %}
	</div>
</div>
