<!--
sidebar:
- list:
  Categories:
    collection: posts
    categories: Featured
    tags: News
    authors: CoolV1994
-->

{%- assign entries = '' | split: ",' -%}
{%- assign type = include.type -%}
{%- assign collection = include.collection | default: 'posts' -%}

{% for data in include.data %}
  {%- assign title = data[0] -%}
  {%- assign sources = data[1] -%}

  {% for source in sources %}
    {%- assign type = source[0] -%}
    {%- assign collection = source[1] -%}
    {%- assign entries = entries | join: site[collection][type] -%}
  {% endfor %}

  {%- assign id = type | append: '_' | append: collection -%}

{% include index_list.html entries=entries id=id class="list-group mb-3 bg-body-tertiary" item_class="list-group-item d-flex justify-content-between" anchor_class="" %}

{% endfor %}
