{%- assign id = include.id | default: page.sidebar_id | default: layout.sidebar_id -%}
{%- assign config = include.config | default: site.data[page.sidebar_cfg] | default: site.data[layout.sidebar_cfg] | default: site.data.sidebar -%}
{%- assign modules = include.modules | default: config[id] | default: page.sidebar | default: layout.sidebar -%}
{%- assign class = include.class | default: page.sidebar_class | default: layout.sidebar_class | default: 'col-md-3' -%}

<div id="sidebar_{{ id }}" class="{{ class }}">
	<div class="position-sticky" style="top: 2rem;">
    {% for module in modules %}
		{%- assign mod_id = module[0] -%}
		{%- assign mod_cfg = module[1] -%}
		{%- assign mod_template = mod_cfg[0] -%}
		{%- assign mod_data = mod_cfg[1] -%}

		{% include sidebar_{{ mod_template }}.html id=mod_id data=mod_data parent=id %}
    {% endfor %}
	</div>
</div>
