---
layout: blog
title: Blog
description: Blog Recent Posts
posts:
  blog:
    skip:
      - main
      - featured
    limit: 10
  main:
    template: post_main
    category: main
    limit: 2
  featured:
    template: post_featured
    category: featured
    limit: 4
---

<div id="blog-main">
{% include posts.html id='main' posts=site.blog %}
</div><!-- /#blog-main -->

<div id="blog-featured" class="row mb-2">
{% include posts.html id='featured' posts=site.blog %}
</div><!-- /#blog-featured -->

<div id="blog-posts" class="col-md-8">
	<h3 class="pb-4 mb-4 fst-italic border-bottom">Posts</h3>
{% include posts.html id='blog' posts=site.blog %}
</div><!-- /#blog-posts -->

<div id="blog-meta" class="col-md-8">
	<p><a href="{{ 'feed.xml' | relative_url }}">RSS Feed</a></p>
</div><!-- /#blog-meta -->
