{%- assign id = include.id | default: "" -%}
{%- assign class = include.class | default: "" -%}
{%- assign size = include.size | default: "" -%}
{%- assign cols = include.cols | default: "" -%}


{% if include.template == 'custom' %}

<!-- Hero - Custom  [ {{ include.file }} ] -->
<div class="container col-xl-10 col-xxl-8 px-4 py-5">
  <div class="row align-items-center g-lg-5 py-5">
    <div class="col-lg-7 text-center text-lg-start">
      <h1 class="display-4 fw-bold lh-1 text-body-emphasis mb-3">{{ include.title }}</h1>
      <p class="col-lg-10 fs-4">{{ include.content }}</p>
    </div>
    {% if include.file %}
    <div class="col-md-10 mx-auto col-lg-5">
{% include {{ include.file }} %}
    </div>
    {% endif %}
  </div>
</div>

{% elsif include.template == 'left' %}
