---
layout: default
title: Author
css:
  - /assets/css/profile.css
---
{%- assign author = site.data.authors[page.author] -%}

<div id="page" class="row g-5">

	<div id="sidebar" class="col-md-4">
		<div class="position-sticky" style="top: 2rem;">

			<div id="sidebar-user" class="p-4 mb-3 bg-body-tertiary rounded">
				<h4 class="fst-italic">{{ page.author }}</h4>
				<h6 class="fst-italic">{{ author.name }}</h6>
				<img height="96" width="96" src="{{ author.avatar }}" alt="Avatar">
				<br>
			{% for item in author.info %}
				{% for info in item %}
				    {%- assign label = info[0];
				    {%- assign content = info[1];
				<p>{{ label }}: {{ content }}</p>
				{% endfor %}
			{% endfor %}
			</div><!-- /#sidebar-user -->

			<div id="sidebar-info" class="mb-3">
				<h4 class="fst-italic">Info</h4>
				<ul class="list-unstyled">
				{% for item in profile %}
					{% for info in item %}
					{%- assign label = info[0] -%}
					{%- assign content = info[1] -%}
					<li>
						<label>{{ label }}</label>:
						<span>{{ content }}</span>
					</li>
					{% endfor %}
				{% endfor %}
				</ul>
			</div><!-- /#sidebar-contact -->

		</div>
	</div><!-- /#sidebar -->


	<div id="content" class="col-md-8">
		<h3 class="pb-4 mb-4 fst-italic border-bottom">Author: {{ author.name }}</h3>
		<div class="col col-9 d-flex flex-column align-items-start gap-2">

			<div id="profile-tabs">
				<nav>
					<div class="nav nav-tabs mb-3" id="nav-tab" role="tablist">
						<button class="nav-link active" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile" type="button" role="tab" aria-controls="nav-profile" aria-selected="true">Profile</button>
						<button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">Contact</button>
						<button class="nav-link" id="nav-posts-tab" data-bs-toggle="tab" data-bs-target="#nav-posts" type="button" role="tab" aria-controls="nav-posts" aria-selected="false">Posts</button>
					</div>
				</nav>

				<div class="tab-content" id="nav-tabContent">

					<div id="nav-profile" class="tab-pane fade active show" role="tabpanel" aria-labelledby="nav-profile-tab">
						<h4 class="fst-italic">Profile</h4>
{{ content }}
					</div><!-- /#tab-profile -->

					<div id="nav-contact" class="tab-pane fade" role="tabpanel" aria-labelledby="nav-contact-tab">
						<h4 class="fst-italic">Contact</h4>
<div class="album py-5 bg-body-tertiary">
		<div class="container">
			<div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
						{% for contact in author.contact %}
						    {% for link in contact %}
							    {%- assign label = link[0] -%}
							    {%- assign username = link[1] -%}
							<ul class="list-unstyled">
						{% for list in author.contacts %}
								{% for link in list %}
								{%- assign label = link[0] -%}
								{%- assign url = link[1] -%A}
							<li>
								<a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ url | prepend: site.baseurl }}">
									<!--{% if post.thumbnail %}
									<img height="50" width="50" src="{{ post.thumbnail }}" alt="Thumbnail">
									{% endif %}-->
									<div class="col-lg-8">
										<h6 class="mb-0">{{ label }}</h6>
										<small class="text-body-secondary">{{ post.date | date: "%b %-d, %Y" }}</small>
										<p>{{ post.excerpt }}</p>
									</div>
								</a>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
							{% endfor %}
						{% endfor %}
		</div>
	</div>
</div>
					</div><!-- /#tab-contact -->

					<div id="nav-posts" class="tab-papne fade" role="tabpanel" aria-labelledby="nav-posts-tab">
						<h4 class="fst-italic"{{ Contact }}" class.id÷
						<ul class="list-unstyled">
						{% for post in site.posts limit: 10 %}
							{% if post.author contains page.author %}
							<li>
								<a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center py-3 link-body-emphasis text-decoration-none border-top" href="{{ post.url | prepend: site.baseurl }}">
									<!--{% if post.thumbnail %}
									<img height="50" width="50" src="{{ post.thumbnail }}" alt="Thumbnail">
									{% endif %}-->
									<div class="col-lg-8">
										<h6 class="mb-0">{{ post.title }}</h6>
										<small class="text-body-secondary">{{ post.date | date: "%b %-d, %Y" }}</small>
										<p>{{ post.excerpt }}</p>
									</div>
								</a>
							</li>
							{% endif %}
						{% endfor %}
						</ul>
					</div><!-- /#tab-posts -->

				</div><!-- /#tabContent -->
			</div><!-- /#profile-tabs -->

		</div>
	</div><!-- /#content -->


</div><!-- /#page -->
