---
layout: default
css:
  - '/assets/css/profile.css'
---

<div class="container px-4 py-5" id="custom-cards">
	<h2 class="pb-2 border-bottom">{{ page.title }}</h2>
	<div class="row align-items-stretch g-4 py-5">
		<div class="col">
			<div class="card card-cover overflow-hidden text-bg-dark rounded-4 shadow-lg" style="width:256px;height:256px;display:block;background-image: url('{{ page.avatar }}');"></div>
		</div>
		<div class="col col-9 d-flex flex-column align-items-start gap-2">
{{ content }}
		</div>
	</div>
</div>
