---
layout: null
css:
  - /assets/css/cover.css
---

<!doctype html>
<html lang="en" class="h-100">
<head>
{% include html.html %}
</head>

<body class="d-flex h-100 text-center text-white bg-dark">
    
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">

  <header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">{{ site.title }}</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
{% for link in page.navbar %}
        <a class="nav-link {% if page.url contains link.url %}active{% endif %}" href="{{ link.url }}">{{ link.name }}</a>
{% endfor %}
      </nav>
    </div>
  </header>

  <main class="px-3">

{{ content }}

  </main>

  <footer class="mt-auto text-white-50">
    <p>Copyright &copy; {{ site.time | date: '%Y' }} {{ site.author }} &nbsp;&mdash;&nbsp; All Rights Reserved</p>
  </footer>

</div>

{% include scripts.html %}

</body>
</html>
