---
layout: default
css:
  - '/assets/css/blog.css'
---

	<div id="blog" class="row g-5">
		<div id="blog-posts" class="col-md-12">

			<article id="post-{{ page.id }}" class="blog-post">
				<h2 class="display-5 link-body-emphasis mb-1">{{ page.title }}</h2>
				<p class="blog-post-meta">
Posted: {{ page.date | date: "%b %-d, %Y" }}
{% if page.author %}
{% assign author_file = page.author | append: '.md' %}
{% assign author = site.authors | find_exp: "doc", "doc.name == author_file" | first %}
 by <a href="{{ author.url | prepend: site.baseurl }}">{{ author.name }}</a>
{% endif %}
{% if page.categories %}
&nbsp;&mdash;&nbsp;Category:
{% for category in page.categories %}
 <a href="{{ category | prepend: '/categories.html#' | prepend: site.baseurl }}">{{ category }}</a>
{% endfor %}
{% endif %}
				</p>

{{ content }}

				<p class="blog-post-meta">
{% if page.tags %}
Tags:
{% for tag in page.tags %}
 <a href="{{ tag | prepend: '/tags.html#' | prepend: site.baseurl }}">{{ tag }}</a>
{% endfor %}
{% endif %}
				</p>

			</article>

		</div><!-- /#blog-posts -->
	</div><!-- /#blog -->
