{% for links in page.links %}
				<div class="mb-3">
					<h4 class="fst-italic">{{ links[0] }}</h4>
					<ul class="list-unstyled">
{% for link in links[1] %}
						<li><a class="d-flex flex-column flex-lg-row gap-3 align-items-start align-items-lg-center link-body-emphasis" href="{% link.url ? link.url : link.page | prepend site.baseurl %}">{{ link.name }}</a></li>
{% endfor %}
					</ul>
				</div>
{% endfor %}

---
links:
  Links:
  - name: Site Page
    page: page.html
  - name: External Link
    url: '#'
---
